[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
autopep8 = "*"
django-debug-toolbar = "*"

[packages]
djangorestframework = "*"
django-environ = "*"
django-allauth = "*"
psycopg2-binary = "*"
pillow = "*"
django-imagekit = "*"
django-bootstrap4 = "*"
django-bootstrap-modal-forms = "*"
django = "==2.2.27"

[requires]
python_version = "3.7.4"
