<!--
                <a class="tweet-footer-btn" style="display:inline-flex">
                    <form action="{% url 'twitteru:like' post.pk %}" method="post">
                        {% csrf_token %}
                        <button class="like-btn" type="submit">
                            <i class="octicon octicon-heart" aria-hidden="true"></i>
                        </button>
                    </form>
                    <span>{{ post.liked_num }}</span>
                </a>
            -->