{% extends 'twitteru/timeline_base.html' %}

{% load static %}
{% load twitteru_tags %}

{% block timeline %}

<form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Tweet</button>
</form>
<ol class="tweet-list">

    {% for post in user.post_set.all|dictsortreversed:"posted_date" %}
    <li class="tweet-card">
        <div class="tweet-content">
            <div class="tweet-header">
                <a href="{% url 'twitteru:userpage' pk=post.user.pk %}">
                    <span class="fullname">
                        <strong>Jon Vadillo</strong>
                    </span>
                    <span class="username">@{{ post.user.username }}</span>
                    <span class="tweet-time">- {{ post.posted_date }}</span>
                </a>
            </div>
            <a href="{% url 'twitteru:userpage' pk=post.user.pk %}">
                <img class="tweet-card-avatar"
                    src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
            </a>
            <div class="tweet-text">
                <p class="" lang="es" data-aria-label-part="0">
                    {{ post.text }}
                </p>
            </div>

            <div class="tweet-footer">
                <a class="tweet-footer-btn">
                    <span class="octicon octicon-comment" aria-hidden="true"></span><span>
                        18</span>
                </a>
                <a class="tweet-footer-btn">
                    <i class="octicon octicon-sync" aria-hidden="true"></i><span> 64</span>
                </a>

                <a id="like_btn_{{ post.pk }}" class="like-btn {{ likes|is_in_likes:post }}"
                    data-href="{% url 'twitteru:ajax_like' %}" data-post_id="{{ post.pk }}">
                    <i class="octicon octicon-heart" aria-hidden="true"></i>
                    <span class="like-cnt">{{ post.liked_num }}</span>
                </a>

                <a class="tweet-footer-btn">
                    <i class="octicon octicon-mail" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'twitteru/common.js' %}"></script>
{% endblock %}