{% extends 'twitteru/timeline_base.html' %}

{% load static %}
{% load twitteru_tags %}

{% block timeline %}

{% for u in user.profile_set.all %}
<p>{{ u.nickname }}</p>
<p>{{ u.self_introduction }}</p>
{% endfor %}

<form id="follow-{{ followed_user_id }}" class="follow-btn {{ follows|is_in_follows:followed_user_id }}"
    data-href-follow="{% url 'twitteru:ajax_follow' %}" data-followed-user-id="{{ followed_user_id }}">
    <button class="btn-search-bar" type="submit">follow</button>
</form>

<ol class="tweet-list">

    {% for post in user.post_set.all|dictsortreversed:"posted_date" %}
    {% include 'twitteru/post.html' %}
    {% endfor %}

</ol>
{% endblock %}