{% extends 'twitteru/timeline_base.html' %}

{% load static %}
{% load twitteru_tags %}

{% block timeline %}

<form action="{% url 'twitteru:tweet' %}" enctype="multipart/form-data" method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Tweet</button>
</form>

<ol class="tweet-list">

    {% for post in user.post_set.all|dictsortreversed:"posted_date" %}
    {% include 'twitteru/post.html' %}
    {% endfor %}
</ol>

{% endblock %}