<!doctype html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript  jquery=True%}
<html lang="ja">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'twitteru/style.css' %}">
    {%block extra_css %}{% endblock %}
</head>

<body>
    <main class="container">{% block content %}{% endblock %}</main>
    <!-- JS -->
    {% block extra_js %}{% endblock %}
</body>

</html>