.btn-search-bar {
  border-radius: 100px;
  border: 1px solid #1da1f2;
  border-color: transparent;
  font-weight: bold;
  font-size: 14px;
}

.follow-on {
  border: 1px solid #1da1f2;
  color: #fff;
  background-color: #4AB3F4;
  border-color: transparent;
}

.follow-off {
  border: 1px solid #1da1f2;
  color: #4AB3F4;
  background-color: #fff;
  border-color: transparent;
}


/* left column */
.left-navbar  {
  margin-left: 10px;
  font-size: 25px;
}

.left-nav-icon {
  margin-right: 10px;
  font-size: 25px;
}
/* left column end */

/* main column */
.home span{
  margin-left: 5px;
  font-size: 20px;
}
.tweet-list {
  list-style: none;
  margin: 8px 4px 0;
  padding: 0;
}

.tweet-card {
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  min-height: 52px;
  padding: 9px 12px;
}

.tweet-content {
  margin-left: 58px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.tweet-text-detail {
  font-size: 25px;
  line-height: 20px;
  font-weight: normal;
}

.tweet-card-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}



.tweet-footer-btn {
  margin-right: 30px;
}
.tweet-footer-btn i, .tweet-footer-btn span {
  color: #657786;
  font-size: 16px;
  white-space: nowrap;
}
.tweet-footer-btn span {
  margin-left: 8px;
}



.like-on {background: #F75D5D; color: #fff;}




/* right column */
.navbar-form {
  margin-top: 10px;
}

.input-search {
  background-color: #f5f8fa;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #e6ecf0;
}

.btn-search {
  background-color: #f5f8fa;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #e6ecf0;
}

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    /* height: 200px;
    max-width: 340px; // orginal twitter width: 290px;*/
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

